models/
documents/
csv_files/
__pycache__/
.env
.DS_Store
.gitignore
assets/
data/
experimental/
.gitiignore
app_conv.py
environment.yaml
dataset_generation.py
.ipynb
ingestor.py
.flake8
.github/
env/
pycache/
.pytest_cache/
.ruff_cache/

